body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: #f1f1f1;
    font-weight: 700;
    padding: 14px 30px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}
.header{
    background: #effaea;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 30px 150px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-picture{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-des{
    color: #757575;
    font-size: 18px;
}
.section-title{
    color: var( #181818);
    text-align: center;
    font-size: 35px;
}
.section-des{
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
    font-size: 18px;
    width: 93%;
    margin: auto;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: #fbf7e6;
    margin-top:130px;
}
main{
    max-width: 1140px;
    margin: auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 15px;
}
.section-des-what{
    width: 72%;
    text-align: center;
    margin: auto;
    margin-top: -20px;
}
.skills-container{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.skill{
    border: 1px solid black;
    border: none;
    margin-right: 24px;
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
main{
    margin-top: 130;
}
.heading-summary{
    color:#181818;
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
}
.summary-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sub-heading{
    color: #474747;
    font-size: 30px;
}
.my-h3{
    color: #474747;
    font-size:25px;
}
.my-p{
    color:#757575;
    font-size: 20px;
    margin-top: -20px;
}
.my-ps{
    display: flex;
    width: 511px;
    flex-direction: column;
    color: #757575;
    font-size: 16px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    background-color:#FFF8F3;
    padding: 130px 200px;margin-top: 100px;
}